App {
    text-align: center;
}

.App-logo {
    height: 60px;
    padding-left: 25px;
}


.App-header {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    color: #000000;
    box-shadow: rgb(220, 220, 220) 0px 2px 10px;
    margin-bottom: 30px;
}

.title {
    font:22px verdana, arial, sans-serif;
    padding-left: 30px;
    color: #0066ff;
    margin-top: 17px;
    margin-right: 15px;
    padding-right: 0px;

}
ul.main-menu {
    padding-left: 15px;
}
#menu li {
    float:left; /* 往左浮动 */
    list-style:none;
    padding-left: 25px;
    font-size: 20px;
    height:70px; /* 设置高度 */
    line-height:70px; /* 设置行高，将行高和高度设置同一个值，可以让单行文本垂直居中 */
}

.logout {
    margin-left: auto;
    margin-right: 40px;
    color: #0e657f;
}
