.xiyiji {
    height: 22px;
    margin-right: 10px;
}
.tab-text{
    display: flex;
}
.bg-picture {
    width: 40%;
    height: 70%;
    position: absolute;
    right: 8%;
    bottom: 10%;
    z-index: -1;
    opacity: 0.25;
}
.status-logo {
    height: 22px;
    margin-right: 10px;
}

.Refresh {
    margin-top: 20px;
}

