.xiyiji {
    height: 22px;
    margin-right: 10px;
}
.available_logo {
    height: 22px;
    margin-right: 10px;
}
.using_logo {
    height: 22px;
    margin-right: 10px;
}
.finished_logo {
    height: 22px;
    margin-right: 10px;
}
.occupied_logo {
    height: 22px;
    margin-right: 10px;
}
